<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>管理员列表</title>
</head>
<body>
<div layout:fragment="content">

    <a class="btn btn-primary btn-sm" th:href="@{/admins/new}">新增</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">用户名</th>
            <th scope="col">手机号</th>
            <th scope="col">真实姓名</th>
            <th scope="col">邮箱</th>
            <th scope="col">状态</th>
            <th scope="col">创建时间</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="admin : ${admins}">
            <tr>
                <td th:text="${admin.getId()}"></td>
                <td th:text="${admin.getNickname()}"></td>
                <td th:text="${admin.getPhone()}"></td>
                <td th:text="${admin.getName()}"></td>
                <td th:text="${admin.getEmail()}"></td>
                <td th:text="${T(com.balawo.models.Admin).Status.get((admin.getStatus()))}"></td>
                <td th:text="${admin.getCreated_at()}"></td>

            </tr>
            <tr>
                <td colspan="60" style="border:none" class="text-right">
                    <button type="button" class="btn btn-info btn-sm"
                            th:onclick="home_admin_update([[${admin.getId()}]],[[${admin.getName()}]],[[${admin.getNickname()}]],[[${admin.getPhone()}]],[[${admin.getEmail()}]])">
                        修改
                    </button>
                    <a type="button" class="btn btn-info btn-sm"
                       th:href="@{/adminRoles/index(adminId=${admin.getId()})}">
                        角色
                    </a>
                    <button th:if="${admin.getStatus() == 0}" type="button"
                            class="btn btn-danger btn-sm"
                            th:onclick="admin_disabled_update([[${admin.getId()}]],1,'禁用管理员')">禁用
                    </button>
                    <button th:if="${admin.getStatus() == 1}" type="button"
                            class="btn btn-danger btn-sm"
                            th:onclick="admin_disabled_update([[${admin.getId()}]],0,'启用管理员')">启用
                    </button>

                </td>

            </tr>
        </div>

        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item " th:classappend="${(current_page - 1) == 0} ? 'disabled' : '' ">
                <a class="page-link" th:href="@{/admins/index(page=${current_page - 1})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <div th:each="i : ${#numbers.sequence(1,admins.totalPages)}">
                <li class="page-item">
                    <a class="page-link" th:href="@{/admins/index(page=${i})}" th:text="${i}">

                    </a>
                </li>
            </div>

            <li class="page-item"
                th:classappend="${current_page == admins.totalPages} ? 'disabled' : '' ">
                <a class="page-link" th:href="@{/admins/index(page=${current_page + 1})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>

<!--管理员修改modal-->
<div class="modal fade" id="editadminAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改管理员</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/crms/admins/update" method="post">
                    <input type="hidden" id="update_admin_id" name="adminId" value="">
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="input" class="form-control" id="update_nickname" name="nickname">
                    </div>

                    <div class="form-group">
                        <label>真实姓名</label>
                        <input type="input" class="form-control" id="update_name" name="name">
                    </div>

                    <div class="form-group">
                        <label>手机号</label>
                        <input type="input" class="form-control" id="update_phone" name="phone">
                    </div>

                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="input" class="form-control" id="update_email" name="email">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>


<!--管理员状态修改modal-->
<div class="modal fade" id="adminDisableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">管理员状态</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 id="adminDisableModalTitle"></h3>
                <form action="/crms/admins/set_admin_status" method="post">
                    <input type="hidden" id="disabled_admin_id" name="adminId" value="">
                    <input type="hidden" id="admin_status" name="status" value="">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<script>
    function home_admin_update(admin_id, name, nickname, phone, email) {
        $('#editadminAddModal').modal('show');
        $('#editadminAddModal').on('shown.bs.modal', function () {
            $('#update_admin_id').val(admin_id)
            $('#update_nickname').val(nickname)
            $('#update_name').val(name)
            $('#update_phone').val(phone)
            $('#update_email').val(email)
        })

    }

    function admin_disabled_update(admin_id, admin_status, modal_title) {
        $('#adminDisableModal').modal('show');
        $('#adminDisableModal').on('shown.bs.modal', function () {
            $('#disabled_admin_id').val(admin_id)
            $('#admin_status').val(admin_status)
            $('#adminDisableModalTitle').html(modal_title)
        })
    }

</script>

