<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="/layouts/head :: commonHead(后台管理系统主页)">

</head>
<body class="c-app">

<div th:replace="/layouts/side_menu :: menus"></div>

<div class="c-wrapper c-fixed-components">

    <!--    <div th:replace="/layouts/header :: header('菜单1','菜单2','#','菜单3')"></div>-->
    <div th:replace="/layouts/header :: header(${breadMenu.get('m1')},${breadMenu.get('m2')},${breadMenu.get('m2_url')},${breadMenu.get('m3')})"></div>

    <div class="c-body">
        <main class="c-main" style="background-color: #fff !important;">
            <div class="container-fluid">
                <div th:replace="/layouts/flash_alert :: flash_alert(${flashMsg})"></div>
                <th:block layout:fragment="content"/>
            </div>
        </main>
    </div>
    <footer class="c-footer" th:include="/layouts/footer :: footer"></footer>

</div>

<!--<![endif]-->
</body>
</html>
