<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/layouts/head :: commonHead(后台管理系统主页)">

</head>
<body class="c-app">

<div th:replace="/layouts/side_menu :: menus"></div>

<div class="c-wrapper c-fixed-components">

    <div th:replace="/layouts/header :: header"></div>

    <div class="c-body">
        <main class="c-main">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">昵称</th>
                            <th scope="col">姓名</th>
                            <th scope="col">创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="admin : ${admins}">
                            <tr>
                                <td th:text="${admin.getId()}"></td>
                                <td th:text="${admin.getNickname()}"></td>
                                <td th:text="${admin.getName()}"></td>
                                <td th:text="${admin.getCreated_at()}"></td>
                            </tr>
                        </div>

                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item " th:classappend="${(current_page - 1) == 0} ? 'disabled' : '' ">
                                    <a class="page-link" th:href="@{/admins/index(page=${current_page - 1})}"  aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                            </li>
                            <div th:each="i : ${#numbers.sequence(1,admins.totalPages)}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/admins/index(page=${i})}" th:text="${i}">

                                    </a>
                                </li>
                            </div>

                            <li class="page-item" th:classappend="${current_page == admins.totalPages} ? 'disabled' : '' ">
                                <a class="page-link" th:href="@{/admins/index(page=${current_page + 1})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
    </div>
    <footer class="c-footer" th:include="/layouts/footer :: footer"></footer>

</div>

<!--<![endif]-->
</body>
</html>
